*{
    margin: 20px;
    padding: 0px;
   }
  .center-box{
    background-color: black;
    min-height: 300px;
    width: 950px;
  }
  .center-item{
    background-color: red;
    min-height: 100px;
    width: 100px;
  }
